.sync/
.cache/
__pycache__/
requests/
cache/
*.coverage
.eggs/
equanimous_octo_tribble.egg-info/

#### GIT IGNORE ###

### Backup files ###
*.swp
*.swo
*.pyc
*.pyo
*.bak


# Notebook checkpoints
.ipynb_checkpoints/
